@import url("https://v1.fontapi.ir/css/Estedad");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Estedad, sans-serif;
}



.lists::-webkit-scrollbar {
  width: 0px;
}

@layer base {
  body {
    @apply bg-[#9190d9];
    @apply dark:bg-[#9190d9] dark:text-gray-50 bg-gray-50 text-[#1e1b2e];
  }
}

@layer components {
  .title {
    @apply text-center dark:text-white text-[#1e1b2e] font-semibold pt-3 text-2xl;
  }
}
