@import url("https://v1.fontapi.ir/css/Estedad");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Estedad, sans-serif;
}

body {
  background-color: #9190d9;
}

.lists::-webkit-scrollbar {
  width: 0px;
}



@layer components {
  .title {
    @apply text-center text-white font-semibold pt-3 text-2xl;
  }

  .card {
    @apply py-5 rounded-md my-3 w-full shadow-md border-2 border-white relative;
  }
}
